body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    justify-items: center;
    width: 480px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

.header {
    background-color: #011827;
    width: 100%;
    height: 144px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

img[alt="logo"] {
    width: 128px;
    height: 82px;
    border-radius: 17px;
    margin-left: 27px;
    margin-top: 26px;
}

.logoText {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
    color: #FFFFFF;
    width: 78px;
    height: 84px;
    position: relative;
    top: 25px;
    left: 13px;
    flex-shrink: 0;
}

img[alt="hackerGuy"] {
    width: 100%;
    height: 274px;
    object-fit: cover;
}

.desktopOnly {
    display: none;
}

.siteBtn {
    background-color: #8ACFE5;
    width: 308px;
    height: 66px;
    margin-top: 37px;
    border-radius: 5px;
    border: none;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 28.13px;
}

.btn1Text {
    font-family: 'Roboto', sans-serif;
    color: #011827;
    font-weight: 700;
    width: 203px;
    height: 28px;
}

.onlineChallenges {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    color: #36769D;
    width: 129px;
    height: 19.97px;
    margin-top: 30px;
}

.johnRec {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 67.03px;
    margin-left: 21px;
    margin-right: 20px;
    width: 439px;
    height: 139px;
}

img[alt="johnDoe"] {
    border-radius: 873px;
    width: 73.34px;
    height: 72px;
    margin-top: 3px;
}

.john-Text {
    display: grid;
    grid-template-columns: 2fr;
    padding-left: 20.2px;
}

.jdText1 {
    width: 343.26px;
    height: 139px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.jdText2 {
    width: 334.09px;
    height: 21px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 21.09px;
    text-align: left;
    margin-top: -17px;
}

.johnRec2 {
    display: none;
}

.popularChallenges {
    width: 440px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: center;
    padding-top: 105px;
}

.roomList {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    width: 480px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.roomList:hover {
    overflow-x: auto;
}

.roomItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    width: 363px;
    height: 446px;
    margin-right: 37.97px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
        0px -4px 8px rgba(0, 0, 0, 0.1),
        4px 0px 8px rgba(0, 0, 0, 0.1),
        -4px 0px 8px rgba(0, 0, 0, 0.1);
}

img[alt="picBooking"] {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.roomItem:first-child {
    margin-left: 52px;
}

.roomTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.5px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.ratingScale {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding-top: 5px;
    margin-left: -45px;
}

img[alt="red-star"],
img[alt="empty-star"] {
    width: 18px;
    height: 20px;
    object-fit: contain;
    border-radius: 0;
}

.ratingText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin: 0;
}

.roomDescription {
    width: 328px;
    height: 80px;
    top: 1269px;
    left: 70.07px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 0;
}

.bookingBtn {
    background-color: #E3170A;
    width: 179.28px;
    height: 44px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 28.13px;
    gap: 0px;
    opacity: 1px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 150px;
}

.bookingText {
    width: 110px;
    height: 19px;
    gap: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    color: #FFFFFF;
}

.storySec {
    margin-top: 56px;
    background-color: #011827;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.storyText {
    width: 439px;
    height: 234px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 95px;
}

.storyBtn {
    background-color: #011827;
    width: 308px;
    height: 66px;
    border-radius: 5px;
    border: 3px solid #8ACFE5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700px;
    color: #8ACFE5;
    cursor: pointer;
}

img[alt="twoHackers"] {
    width: 100%;
    height: 300px;
}

.onsiteToday {
    text-align: left;
    margin-left: 20px;
}

.mainHeadline {
    width: 440px;
    height: 106px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 0;
}

.bookingInfo {
    width: 440px;
    height: 112px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.redBtn {
    font-family: 'Roboto', sans-serif;
    width: 308px;
    height: 66px;
    border-radius: 5px;
    background-color: #E3170A;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    padding-top: 0;
    margin-bottom: 64px;
}

img[alt="girl-pc"] {
    width: 100%;
    height: 300px;
}

.challengeSec {
    text-align: left;
    margin-left: 20px;
    gap: 150px;
}

.booking-Info,
.booking-Info1 {
    width: 440px;
    height: 112px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.theFooter {
    width: 480px;
    height: 566px;
    background-color: #011827;
    text-align: left;
    padding-left: 22px;
    padding-right: 21px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.footerInfo {
    width: 438px;
    height: 21px;
    margin-top: 65px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    margin-bottom: 7px;
}

.infoSpan, .infoSpan1, .infoSpan2, .infoSpan3 {
    font-family: 'Roboto', sans-serif;
    width: 439px;
    height: 83px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    margin-bottom: 0;
}

@media (max-width: 1249px) {
    img[alt="hackerGuyn"] {
        display: none;
    }
}

@media (min-width: 1250px) {
    .container {
        grid-template-columns: auto;
        gap: 0;
        padding: 0px;
    }

    .header {
        width: 1280px;
        height: 216px;
    }

    .logoText {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        line-height: 46.88px;
        font-weight: 700;
        color: #FFFFFF;
        width: 404px;
        height: 84px;
        margin-top: 30px;
    }

    .headerLinks {
        display: flex;
        justify-items: left;
        flex-direction: row;
        margin-left: -300px;
    }

    .desktopOnly {
        display: flex;
        width: 135px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        color: #FFFFFF;
        margin-top: 166px;
        padding-right: 114px;
    }

    img[alt="hackerGuy"] {
        display: none;
    }

    img[alt="hackerGuyn"] {
        width: 1280px;
        height: 468px;
        object-fit: cover;
    }

    .onlineChallenges {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        width: 308px;
        height: 66px;
        border-radius: 5px;
        background-color: #E3170A;
        font-size: 24px;
        line-height: 28.13px;
        font-weight: 700;
        border: none;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -66px;
        margin-bottom: 64px;
        margin-left: -210px;
    }

    .siteBtn {
        margin-top: -42px;
        margin-left: 450px;
    }

    .johnRec,
    .johnRec2 {
        width: 520px;
        height: 141px;
        display: flex;
    }

    .johnRec {
        margin-left: -440px;
    }

    .johnRec2 {
        margin-left: 660px;
        margin-top: -140px;
    }

    .johnRec2 img {
        width: 96px;
        height: 96px;
    }

    .johnRec img {
        width: 96px;
        height: 96px;
    }

    .jdText1 {
        font-family: 'Roboto', sans-serif;
        width: 409px;
        font-style: italic;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
    }

    .jdText2 {
        font-family: 'Roboto', sans-serif;
        width: 285.38px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: left;
        margin-top: -40px;
    }

    .popularChallenges {
        margin-top: 10px;
    }

    .roomList {
        width: 100%;
        margin-top: 50px;
        padding-bottom: 100px;
    }

    .storySec {
        width: 1280px;
        height: 500px;
        justify-content: center;
    }

    .storyText {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 32.81px;
        text-align: center;
        margin-top: 20px;
        width: 632px;
        height: 169px;
    }

    img[alt="twoHackers"] {
        width: 640px;
        height: 460px;
        padding-left: 0;
        margin-left: -640px;
    }

    .onsiteToday {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 460px;
        margin-top: -450px;
        margin-left: 600px;
    }

    .mainHeadline {
        width: 416px;
        height: 106px;
        padding-bottom: 20px;
    }

    .booking-Info {
        width: 416px;
        height: 112px;
        font-size: 24px;
        line-height: 13px;
        margin-bottom: 1px;
    }

    img[alt="girl-pc"] {
        width: 640px;
        height: 460px;
        padding-left: 0;
        margin-left: 640px;
        margin-top: -10px;
    }

    .challengeSec {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: -450px;
        margin-left: 100px;
        margin-right: auto;
        gap: 1px;
    }

    .booking-Info1 {
        width: 416px;
        height: auto;
        font-size: 24px;
        margin-bottom: 1px;
    }

    .challengeSec br,
    .theFooter br {
        display: none !important;
    }

    .theFooter {
        width: 1250px;
        height: 467px;
        margin-top: 183px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
    .infoSpan{
        width: 416px;
        height: 250px;
        gap: 0px;
        opacity: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: left;
    }  

    .footer-section1{
        text-align: left;
        margin-left: 300px;
        padding-top: 120px;
        width: 416px;
        margin-right: 300px;
    }
    
    .footer-section2{
        padding-top: 120px;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-right: -200px;    
    }
    
    .footer-section3{
        padding-top: 120px;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .infoSpan1{
        margin-bottom: -60px;
    }

    .infoSpan2{
        margin-top: 30px;
        margin-bottom: -58px;
        padding-top: 0;
        padding-bottom: -150px;
    }
}
