.header {
    background-color: #011827;
    width: 480px;
    height: 144px;
}

img[alt="loggo"] {
    width: 128px;
    height: 82px;
    top: 26px;
    left:27px;
    border-radius: 17px;
}

img[alt="hacker-guy"] {
    width: 480px;
    height: 274px;
    top: 144px;
}